<section class="mx-4">
  <div class="bg-shape-top-right">
    <div class="container py-16 z-10 relative">
      <h2
        class="h1 text-center text-5xl md:text-6xl leading-[55px] md:leading-[76px] pb-4"
        data-aos="fade-up"
      >
        @@title <strong>@@color-title</strong>
      </h2>
      <p
        class="max-w-lg mx-auto text-center pb-6"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        @@description
      </p>
      <div class="text-center" data-aos="fade-up" data-aos-delay="100">
        <span
          class="inline-flex items-center gap-2 py-2 px-10 border border-primary rounded-3xl"
        >
          <a
            href="/"
            class="text-dark hover:text-primary transition duration-300"
            >Home</a
          >
          <span>/</span>
          <p class="text-text">@@sort-title</p>
        </span>
      </div>
    </div>
  </div>
</section>
